extends layout
.nav
  block nav
      ul.main-menu
        li
          a(href='/') Home
        li
          a(href='registerform') Register
        li
          a(href='/') Search
          ul.submenu
            li
              a(href='/searchform') Name/Roll No
            li
              a(href='/searchdept') Department
        
  
block main-content
  h1.title= title
  p(style="color: rgb(32, 24, 44); font-weight: bold;") #{msg}
