extends index
.nav
	block nav
		ul.main-menu
			li
				a(href="/") Home
block main-content
	p(style="color: rgb(32, 24, 44); font-weight: bold;") #{msg}
block form
	form(method="post", id="registerform", action="/register")
		p
			label Roll No.
			input(type='text', id='rollno', name='rollno')
		p
			label First Name
			input(type='text', id='firstname', name='firstname')
		p
			label Lastname
			input(type='text', id='lastname', name='lastname')
		p
			input(type='Submit')

	